*{
    background-color: #111111;
    color: #fafafa;
    
}

.main{
    @media screen and (min-width : 768px){
        margin-left: 30%;
        
    }
}

.footer{
    margin-top: 20%;
    @media screen and (min-width : 768px){
        margin-top: 5%
    }
    
}